section * {
	transition: all 0.3s;
}
.blue {
	background-color: #0063a3;
}
.pointer {
	cursor: pointer;
}
.lang_container {
	height: 40px;
}
.lang{
	color: #70a7cb;
	margin:0 10px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.nav_collapse {
	position: relative;
}
.lang_active {
	color: white;
	border-bottom: 2px solid orange;
}
.no_display {
	display: none;
}
.service {
	display: none;
	position: absolute;
	right: -30px;
	z-index: 15;
	background-color: white;
	width: 240px;
	padding: 10px;
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}
.calendar {
	display: none;
	position: absolute;
	right: -23px;
	z-index: 15;
	background-color: white;
	padding: 10px;
	box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}
.triangle {
	position: absolute;
	right: 26px;
	top: -8px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: white;
  	border-top: 0;
	z-index:16;
}
.service a:hover {
	text-decoration: none;
	color:  #0063a3;
}
.service_hide:hover .service{
	display: block;
	}
.calendar_hide{
	display: inline-block;
	position: relative;
	}
.calendar_hide:hover .calendar{
	display: block;
}
.nav_collapse:hover {
	color: #0063a3;
}
.nav_down {
	padding-top: 20px;
	position: absolute;
	border-top: 2px solid orange;
	bottom: 0;
	left: -0;
	right: 0;
	background-color: white;
	box-shadow: 0px 15px  15px gray;
	z-index: 10;
	color: #1a1465;
	font-size: 14px;
	
}
.nav_down a{
	text-decoration: none;
	color: inherit;
}
.nav_down li:hover {
	color: #0063a3;
list-style-type: disc;
}
.nav_down p:hover {
	cursor: pointer;
	color: #0063a3;
	font-weight: 600;
}
.nav_down li {
color: #666;
list-style-type: none;
}
.navbar a {
    color: white;
}
.logo{
	font-size: 45px;
	color: #0063a3;
	font-weight: 800;
}
.liga_row {
	color: #1a1465;
	font-weight: 500;
}
.liga_row a{
	color: #1a1465;
	font-weight: 500
}
.orange_btn {
	border-radius: 5px;
	padding:3px 10px ;
	background-color: orange;
	color: white;
	cursor: pointer;
	border: none;
}
.tel{
	font-weight: 700;
}
.shoping_busket{
	position: relative;
	height: 40px;
	cursor: pointer;
}
.shop_count{
	height: 15px;
	width: 15px;
	background-color: orange;
	position: absolute;
	left: 18px;
	bottom: 20px;
	border-radius: 50%;
	font-size: 12px;
	color: white;

}
.sum_rub {
	line-height: 1;
	padding-left: 10px;
}
.sum {
	font-size: 12px;
	margin: 0;
}
.rub{
	font-size: 12px;
}
.fa-shopping-cart{
	position: relative;
	font-size: 28px;
}

.serch{
	border:1px solid lightgray; 
	width: 380px;
}
.fixed{
	position: fixed;
}
.serch input {
	padding-left: 5px;
	width:340px;
	border: none;
}

.fixed_menu .serch {
	width: 160px;
}
.fixed_menu .serch input {
	padding-left: 5px;
	width: 120px;
	border: none;

}
.serch button {
	width: 26px;
	border: none;
	background:none;
}
.fixed {
	position: fixed;
	box-shadow: 0px 15px  15px rgba(0,0,0,0.5);
	left: 0;
	right: 0;
	background-color: white;
	z-index: 12;
}
.main_img {
	height: 550px;
	z-index: 1;
	background-image: url(../img/pr.jpg);
	background-position: 50% 50%;
	background-size: cover;
}
.mask{
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(12,15,68, 1), rgba(0, 0, 0, 0.4), rgba(221,116,17, 0.8));
	color: white;
}
.mask h1{
	font-size: 36px;
	padding-top: 100px;
}
.last_news {
	cursor: pointer;
	font-size: 14px;
	margin-top: 30px;
}
.last_news_mask {
	padding:5px 15px ;
	height: 100%;
	width: 100%;
	background: rgba(12,15,68, 0.85);
	font-weight: 500;
	color: white;
}
.event {
	background-image: url(../img/pr.jpg);
	background-position: 50% 50%;
	background-size: cover;
}
.event li {
	color: green;
}
.bordered {
	border-top: 1px solid lightgray;
	color: gray;
}
.event2 {
	background: white;
	color: black;
}
.event2 li {
	color: orange;
}
.main_content {
	background-color: #e8e8e8;
	position: relative;

}
.white_background {
	background-color: white;
}
.main_content_container {
	position: absolute;
	top: -100px;
	margin: auto;
	left: 0;
	right: 0;
	
	z-index: 3;
	color:#1a1465; 
	width:1200px;
}
.main_header {
	height: 100px;;
}

.triangle-bottomright {
	position: absolute;;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #e8e8e8; 
	border-left: 100px solid transparent;
	z-index:5;
}
.frame {
	position: relative;
	height: 300px;
	border: 1px solid lightgray;
	background-position: 50% 50%;
	background-size:contain;
	background-repeat: no-repeat;
	margin-bottom: 30px;
	cursor: pointer;
}
.frame.corpus {
	background-image: url(../img/2.jpg)
}
.frame.dors{
	background-image: url(../img/1.jpg);
}
.frame.nesting {
	background-color: #0063a3;
	color: white;
}
.frame.nesting i{
	font-size: 50px;
}
.triangle-bottomright .fa-long-arrow-alt-right{
	position: absolute;;
	right: 10px;
	top: 50px;
	z-index: 6;
	color: #0063a3;
}
.icon_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	background-color: white;
	font-size: 30px;
	color: #0063a3;
}
.frame:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.frame:hover .icon_circle{
	background-color: orange;
}
.frame:hover .fa-long-arrow-alt-right{
	color: orange;
}

.pagination a {
	color: gray;
	font-weight: 500;
	text-decoration: none;
}
.pagination a:hover {
	color: #1a1465;
	border-bottom: 2px solid orange;
}
.pagination i:hover {
	color: orange;
	cursor: pointer;
}
.pagination .active{
	color: #1a1465;
	border-bottom: 2px solid orange;
}
.news_event {
	font-size: 14px;
	line-height: 1em;
	height: 300px;
	font-weight: 500;
	cursor: pointer;
}
.news_img{
	height: 130px;
	width: 100%;
	background-position: 50%;
	background-size: cover;
	margin-bottom: 10px;
}
.news_img.img1{
	background-image: url(../img/pr.jpg);
}
.event_name{
	margin-bottom: 10px;
}
.green{
	color: green;
}
.orange {
	color: orange;
}
.blue_text {
	color: #0063a3;
}
.projection{
	margin-top: 30px;
	height: 150px;
	width: 100%;
	background-color: #0f1247;
	color: white;

}
.projection h4{
	width: 25%;
}
.projection p{
	width: 30%;
}
.projection button{
	width: 10%;
	border: none;
}
.sale {
	font-size: 12px;
	font-weight: 500;
}
.sale_percent {
	position: absolute;
	left: 0;
	top:15px;
	padding: 5px;
	color: white;
}
.sale_img{
	position: relative;
	height: 200px;
	background-image: url(../img/frez.jpg);
	background-position: 50%;
	background-size: cover;
}
.old_price {
	text-decoration: line-through;
}
.border {
	border: 1px solid lightgray;
	
}
.pointer {
	cursor: pointer;
}
.partner {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.partner img{
	height: 100px;
}
.seen {
	color: #1a1465;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 50px;
}
.seen_item {
	cursor: pointer;
	padding-top: 15px;
	background-color: white;
	font-weight: 500;
	line-height: 1em;
}
.seen_item p{
	margin-top: 10px;
}
footer{
	background-color: #0f1247;
	color: white;

 
}
.footer_item {
	
}
.footer_item a{
	
	color: white;
}
.footer_item p{
	text-align: center;
}
.youtube {
	font-size: 25px;
	text-align: center;
	margin-top: -10px;

}
.youtube i {
	color: red;
}
.footer_icon {
	font-size: 20px;
	padding: 10px;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #0063a3;
	cursor: pointer;
	border-radius: 2px;
}
.footer_icon:hover {
	color: orange;
}
footer .logo{
	margin-top: -20px;
}
.coptrite {
	border-top: 1px solid lightgray;
}
.enter:hover {
	color: orange;
	cursor: pointer;
}
.right_main button {
	height: 50px;
	font-size: 16px;
	font-weight: 500;
}
.furniture_item {
	padding-top: 15px;
	position: relative;
	font-size: 14px;
	line-height: 1em;
	height: 420px;
}
.furniture_item img{
	width: 100%;
}
.details {
	position: absolute;
	left: 15px;
	bottom: 0;
}
.equp_item {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.equp_item .img {
display: flex;
justify-content: center;
	width: 100%;
	height: 80%;
	overflow: hidden;
}
.equp_item .img img{
	max-height: 100%;
	width: auto;
}
.datepicker-here {
	background-color: transparent;
	border: none;
}
input[name="date"]{
	cursor: pointer;
}
input[name="date"]::placeholder {
	color: #0063a3;
	cursor: pointer;
}
.datepicker-here:focus{
	outline: none;
	caret-color: transparent;
}
