.section {
	background-color: #0f1247;
	padding-bottom: 140px;
	color: white;
}
.section .container-fluid{
	border-bottom: 1px solid gray;
	color: gray;
	height: 40px;
}
.nav_path {
	cursor: pointer;
}
.slash {
	margin-left: 10px;
	margin-right: 10px;
}
.section .container h1{
	padding-top: 40px;
}
.left_main {
	width: 890px;
	padding: 40px;
}
.right_main {
	position: relative;
	width: 290px;
	padding: 40px;
	font-size: 14px;
}
.catalog_serch input, .catalog_serch button{
	height: 60px;
	width: 187px;
	padding: 10px;
	cursor: pointer;
}
.result {
	padding: 15px;
	background-color: #e8e8e8;
}
.result:hover {
	color: #0063a3;
	cursor: pointer;
}
.result_row {
	border-bottom: 1px solid lightgray;
}
.right_main p{
	line-height: 1em;
}
.catalog_item {
	color: gray;
}
.catalog_item.active{
	color: orange;
}
.left_main img{
width: 100%;
}
.about {
	cursor: pointer;
	color: gray;
	margin-left: 15px;
	font-size: 22px;
	font-weight: 500;
}
.about.active {
	color:  #1a1465;
	border-bottom: 2px solid orange;
}
.informaition {
	margin-top: 30px;
}
.video {
	font-size: 18px;
}
.video i{
	font-size: 35px;
	color: #0063a3;
	margin-right: 15px;
}
.choice {
	border: none;
	padding: 10px 20px;
	color: #0063a3;
	background-color:  white;
	border-radius: 20px;
}
.choice.active{
background-color: orange;
color: white;
}
.news_first {
	position: relative;
	z-index: 1;
	background-image: url(../img/pr.jpg);
	background-position: 50% 50%;
	background-size: cover;
}
.news_mask {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 15px 0 15px;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(12,15,68, 1), rgba(0, 0, 0, 0.4), rgba(221,116,17, 0.8));
	color: white;
	
}
.news_mask h3{
	font-size: 24px;
	font-weight:350;
	line-height: 1em;
}
.gray{
	color: gray;
}